body{
    font-family: 'Roboto';
    background-color: rgb(217, 240, 232);
    /*background-color: #000000;*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

/*----------------------------------------------------*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(180, 208, 198);
    font-size: 45px;
    font-weight: bold;
    margin: 15px;
}
.img-titulo{
    width: 50px;
    height: 50px;
    padding: 5px;
}

/*----------------------------------------------------*/

main{
    display: flex;
    justify-content: space-between;
    margin: 20px 60px;
}
h2{
    font-size: 25px;
    padding: 10px 10px 10px 0;
    font-weight: bold;
}

/*productos disponibles*/

.lista-productos .contenedor-productos{ /*caja*/
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productos-disponibles{  /*class en JS*/
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #7ec0ee;
    height: auto;
    width: 160px;
    padding: 5px;
    border: solid 2px;
    border-color: #000000;
    border-radius: 5px;
    text-align: center;
    margin: 0px 5px 10px 5px;
}
.productos-disponibles:hover{
    transform: scale(1.1);
    transition-duration: 500ms;
}

.producto .imagen-url-producto {
    width: 100%;
    height: 160px;
    border: solid 1px black;
    border-radius: 5px;
}

.btn-delete{
    width: 30px;
    height: 20px;
    background-color: #cf5757;
    border:solid 1px;
    border-radius: 5px;
    padding: 5px 0px;
    font-weight: bold;
    cursor: pointer;
}
.btn-delete:hover{
    background-color: #af2929;
}
.btn-delete img{
    width: 20px;
}

/*agrgear productos*/

.agregar-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(180, 208, 198);
    border-radius: 5px;
    padding: 20px;
    height: 250px;
}

.formulario-productos{
    display: flex;
    flex-direction: column;
}
.form-agregar-productos{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 300px;
    padding: 10px;
}
input{
    background-color: rgb(180, 208, 198);
    border-color: rgb(145, 197, 180);
    color: black;
    border-radius: 5px;
    padding: 5px 0px;
    margin: 5px 0px;
}
input:hover{
    background-color: rgb(145, 197, 180);
}

/*botones formularios */

.btn-productos{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    padding: 0px 10px;
}
.btn-cargar{
    width: 70px;
    height: 30px;
    background-color: #94ee7e;
    border: 2px;
    border-radius: 5px;
    padding: 5px 0px;
    font-weight: bold;
}
.btn-cargar:hover{
    border-color: #78ee5b;
    background-color: #78ee5b;
    color: #000000;
    font-weight: bolder;
    transform: scale(1.3);
}

.btn-vaciar{
    width: 70px;
    height: 30px;
    background-color: #ed4c4c;
    border: 2px;
    border-radius: 5px;
    padding: 5px 0px;
    font-weight: bold;
}

.btn-vaciar:hover{
    border-color: #ed4c4c;
    background-color: #ed4c4c;
    color: #000000;
    font-weight: bolder;
    transform: scale(1.3);
}

/*footer*/

footer{
    background: rgb(180, 208, 198);
    text-align: center;
    margin: 15px;
}
p{
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
}

